
@charset "UTF-8";


/* メインエリア
-----------------------------------------------*/
.index_main {
  margin-bottom: 30px;
  box-sizing: border-box;
}

.index_main img{
  max-width: 100%;
  height: auto;
  display: block;
}

/* 新規会員登録、商品一覧へボタン */
.idx_buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.idx_buttons a {
  width: 575px;
  height: 127px;
  display: block;
  background-size: cover;
  background-position: center;
  transition: opacity 0.3s ease;
}

.idx_buttons a:hover {
  opacity: 0.7;
}

.idx_buttons a img{
  width: 575px;
  height: 127px;
}

/* お客様のご意見/ご感想 */
.idx_voice_wrap {
  padding: 25px;
  background-size: 100% 100%;
  background-image: url(../images/idx_bg_voice01.jpg);
  border-radius: 10px;
}

.idx_voice_wrap h2 {
  width: 433px;
  height: 53px;
  background-size: 100% 100%;
  background-image: url(../images/idx_tit_voice01.png);
  margin-inline: auto;
  text-indent: -9999px; /* ← テキスト非表示 */
  overflow: hidden;
  margin-bottom:20px;
}

.idx_voice_in {
  background-color: #fff;
  padding: 25px 40px;
  border-radius: 10px;
}

.idx_voice_in table{
  width: 100%;
}

.idx_voice_in tr {
  border-bottom: 2px dotted #b3b1b1;
}

.idx_voice_in th {
  width :180px;
  padding :20px 0px;
  vertical-align: middle;
}

.idx_voice_in td {
  font-size: 2rem;  /* 20px */
  padding :20px 0px;
  vertical-align: middle;
  line-height: 1.8em;
}

.idx_voice_in td h3 {
  margin-bottom: 10px;
}
