@charset "UTF-8";

/* マイページ
-----------------------------------------------*/

/* ようこそエリア */
.myp_helloarea {
  background-color: #F4E7CA;
  border: 10px solid #DABB72;
  border-radius: 8px;
  padding: 40px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.myp_helloarea p {
  margin: 0;
  font-size: 20px;
}

.myp_helloarea span {
  font-weight: bold;
  font-size: 30px;
}

.myp_helloarea a {
  background-color: #BA8200;
  color: #fff;
  text-decoration: none;
  padding: 15px 30px;
  border-radius: 10px;
  font-size: 18px;
}

.myp_helloarea a:hover {
  opacity: 0.7;
}

/* メニュー共通 */
.myp_mnarea {
  background-color: #fff;
  border-radius: 10px;
  padding: 40px 40px;
  margin-bottom: 30px;
  border: 1px solid #CCC;
}

/* 横並び */
.myp_mninner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

/* 左：アイコン */
.mpy_icon {
  width: 115px;
  height: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  flex-shrink: 0;
}

/* 中央：テキスト */
.myp_text {
  flex: 1;
  margin-right: 30px;
}

.myp_text h3 {
  padding-bottom: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #A9A5A5;
}

.myp_text p {
  margin: 0;
  font-size: 20px;
}

/* 右：ボタン */
.myp_btn a {
  width: 330px;
  height: 65px;
  background-color: #C40808;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 20px;
  white-space: nowrap;
  display: inline-block;
  text-align: center;
  line-height: 65px;
}

.myp_btn a:hover {
  opacity: 0.7;
}

/* 2カラム全体 */
.myp_half_wrap {
  display: flex;
  gap: 40px;
}

/* 半分サイズ */
.myp_half {
  flex: 1;
}

.myp_btn_h {
  width: 100%;        /* ← 改行させる */
  margin-top: 20px;
  text-align: center;
}

/* 退会 */
p.myp_leave {
  text-align: right;
}

p.myp_leave a{
  font-size: 14px;
  color: #BA8200;
}


/* 会員情報を編集
-----------------------------------------------*/

/* フロー図 */
.progressbar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom:50px;
}
.progressbar .item {
    position: relative;
    width: 33%;
    text-align: center;
    position: relative;
    align-items: center;
    justify-content: center;
    padding: 13px 0;
    line-height: 1.5;
    background: #F5F5F5;
    color: #999999;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 100%;
    content: '';
    border: 37px solid transparent;
    border-left: 20px solid #F5F5F5;
    margin: auto;
}
.progressbar .item:not(:last-child)::before {
    margin-left: 1px;
    border-left-color: #FFF;
}

@media screen and (max-width: 767px) {
.progressbar .item {
    font-size: 11px;
    line-height: 1.4;
    padding: 10px 0;
}
.progressbar .item:not(:last-child)::before,
.progressbar .item:not(:last-child)::after {
    border-width: 25px;
    border-left-width: 12px;
}
}

/* active */
.progressbar .item.active {
    z-index: 1;
    background: #E8A509;
    color: #FFF;
}
.progressbar .item.active:not(:last-child)::after {
    border-left-color: #E8A509;
}
.progressbar .item.active:not(:last-child)::before {
    border-left: none;
}


/* 会員情報を編集 フォーム*/
.sig_formarea{
  background-color: #FFF;
  padding:50px;
  border-radius: 10px;
}

.sig_formarea form{
  width: 720px;
  margin-inline: auto;
}

.sig_txtarea{
  text-align: center;
  margin-bottom:40px;
}

.sig_formarea input{
    width: 500px;
    height: 40px;
    padding: 0 8px;
    border: 2px solid #CCC;
    border-radius: 3px;
    box-sizing: border-box;
}

.form_required {
  background: #CE0000;
  color: white;
  font-size: 12px;
  padding: 2px 4px;
  border-radius: 3px;
  margin-left: 10px;
}

.sig_form_txt {
  margin-bottom:40px;
}

label {
  display: inline-block;
  width: 200px;
  font-weight: bold;
}

p.form_attention {
  margin-top: 10px;
  margin-left: 210px;
}

.sig_form_dm input{
  width: 100px;
}


/* 会員情報を編集 ボタン */
.sig_form_btn{
  text-align:center;
}

.sig_form_btn button{
  width: 260px;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  padding:15px 30px;
  background-color: #E8A509;
  border: 2px solid #E8A509;
  color: white;
  position: relative;
}

.sig_form_btn button:hover {
    opacity: 0.7;
}

.sig_form_btn {
  display: flex;
  justify-content: center; /* 中央寄せ */
  gap: 60px;              /* ボタン間の余白 */
  margin-top: 30px;
}

.sig_form_btn p {
  margin: 0; /* pのデフォルト余白を消す */
}


p.btn_left button{
  background-color: white;
  color: #E8A509;
}

.fa-position-right {
    color: #E8A509;
    position: absolute;
    top: 50%;
    left  : 2.5rem;
    transform: translateY(-50%);
}

.fa-position-left {
    color: #fff;
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);
}
