<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{comlayout/base :: meta}"></div>
  <div th:replace="~{comlayout/base :: styles}"></div>
  <!-- Original CSS -->
  <link rel="stylesheet" th:href="@{/css/product.css}">
  <title>商品一覧 | 宅配寿司 寿司処リカレント | お寿司の出前・デリバリー・配達注文</title>
</head>

<body>
  <div class="wrapper">
    <div class="inner" id="unique_product_area">

      <div th:replace="~{comlayout/base :: header}"></div>
      <div th:replace="~{comlayout/base :: nav}"></div>

      <!-- メイン -->
      <main>
        <h2 class="mn_h201">商品一覧</h2>
        <ol class="mn_pankuzu">
          <li><a th:href="@{/}">TOPページ</a></li>
          <li>商品一覧</li>
        </ol>

        <div class="pro_search_cart">
          <!-- 商品の検索エリア -->
          <div class="pro_search_wrap">
            <h3 class="pro_h301"><img th:src="@{images/pro_tit_search01.jpg}" alt="商品の検索"></h3>
            <div class="pro_search_in">
              <!-- キーワード検索 -->
              <div class="pro_search01 pro_keyword">
                <h4>キーワード検索</h4>
                <form action="" method="get">
                  <input type="text" name="" value="" placeholder="キーワードを入力してください。">
                  <button type="submit">検索</button>
                </form>
              </div>

              <!-- 価格帯検索 -->
              <div class="pro_search01 pro_price">
                <h4>価格帯検索</h4>
                <form action="" method="get">
                  <input type="number" name="" value="" placeholder="0">
                  <span>円～</span>
                  <input type="number" name="" value="" placeholder="1000">
                  <button type="submit">検索</button>
                </form>
              </div>

              <!-- カテゴリー検索 -->
              <div class="pro_search01 pro_category01">
                <h4>カテゴリー検索</h4>
                <form action="" method="get">
                  <label class="pro_category02">
                    <select>
                      <option>optionの例1</option>
                      <option>optionの例2</option>
                      <option>optionの例3</option>
                    </select>
                  </label>
                </form>
              </div>

              <!-- アレルギー情報はこちら -->
              <div class="pro_search01 pro_allergy01">
                <h4>アレルギーについて</h4>
                <a th:href="@{/}"><img th:src="@{images/pro_btn_allergy01.jpg}"></a>
              </div>
            </div>
          </div>


          <!-- カートの中身 -->
          <div class="pro_cart_wrap">
            <h3 class="pro_h301"><img th:src="@{images/pro_tit_cart01.jpg}" alt="カートの中身"></h3>
            <div class="pro_cart_in">
              <h4>注文内容</h4>
              <table>
                <td>
                <th>選択中</th>
                <td>〇<span>点</span></td>
                </tr>
                <td>
                <th>商品の合計</th>
                <td><span>￥</span>1,234<span>(税込)</span></td>
                </tr>
              </table>
              <p><a th:href="@{/cart/}"><img th:src="@{/images/pro_btn_cart01.png}" alt="カートへ進む"></a th:href="@{/cart/}></p>
            </div>
          </div>
        </div>

        <!-- 商品一覧エリア -->
        <div class="pro_item_wrap">
          <ul class="product_list">

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>

            <!-- 商品1個　-->
            <li class="product_card">
              <div class="product_img"><img th:src="@{/images/pro_demoimg02.png}" alt="商品名"></div>
              <p class="product_name">商品名商品名商品名</p>
              <p class="product_price">300円(税込)</p>
              <div class="product_qty">
                <button class="qty_btn">ー</button>
                <span class="qty_num">0</span>
                <button class="qty_btn">＋</button>
              </div>
              <div class="product_detail"><a th:href="@{/detail/}"><img th:src="@{/images/pro_btn_detail01.png}"></a></div>
            </li>
          </ul>
        </div>




      </main><!-- メイン END -->
    </div><!-- inner END -->

    <div th:replace="~{comlayout/base :: footer}"></div>



  </div><!-- wrapper END -->
</body>

</html>