<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{comlayout/base :: meta}"></div>
  <div th:replace="~{comlayout/base :: styles}"></div>
  <!-- Original CSS -->
  <link rel="stylesheet" th:href="@{/css/signup.css}">
  <title>新規会員登録 | 宅配寿司 寿司処リカレント | お寿司の出前・デリバリー・配達注文</title>
</head>

<body>
  <div class="wrapper">
    <div class="inner" id="unique_signup_area">

      <div th:replace="~{comlayout/base :: header}"></div>
      <div th:replace="~{comlayout/base :: nav}"></div>

      <!-- メイン -->
      <main>
        <h2 class="mn_h201">新規会員登録</h2>
        <ol class="mn_pankuzu">
          <li><a th:href="@{/}">TOPページ</a></li>
          <li>新規会員登録</li>
        </ol>

        <div class="sig_formarea">

          <!-- フロー図 -->
          <div class="progressbar">
            <div class="item active">STEP.1<br>登録情報のご入力</div>
            <div class="item">STEP.2<br>ご確認</div>
            <div class="item">STEP.4<br>完了(マイページへ)</div>
          </div>

          <div class="sig_txtarea">
            <p>ご注文には必ず会員登録が必要になります。</p>
            <p>会員登録いただけると、今までの注文履歴が閲覧できたり、住所入力などの手間が省けます。</p>
            <p class="sig_login">すでに会員の方はこちらから<a href="">ログイン</a></p>
          </div>

          <form th:action="@{/auth/sign-up}" method="post" th:object="${registForm}">

            <!-- お名前 -->
            <div class="sig_form_txt">
              <label>お名前<span class="form_required">必須</span></label>
              <input type="text"  th:field="*{name}"><span class="form_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
            </div>

            <!-- メールアドレス -->
            <div class="sig_form_txt">
              <label>メールアドレス<span class="form_required">必須</span></label>
              <input type="text" th:field="*{email}"><span class="form_error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
            </div>

            <!-- パスワード -->
            <div class="sig_form_txt">
              <label>パスワード<span class="form_required">必須</span></label>

              <input type="password" th:field="*{password}" id=""><span class="form_error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
              <p class="form_attention">半角英数4文字以上で入力してください。</p>
            </div>

            <!-- 電話番号 -->
            <div class="sig_form_txt">
              <label>電話番号</label>
              <input type="tel" th:field="*{phoneNumber}" id="pass"><span class="form_error" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
            </div>

            <!-- 郵便番号 -->
            <div class="sig_form_txt">
              <label>郵便番号<span class="form_required">必須</span></label>
              <input type="tel" th:field="*{postalCode}" id="ybbg"><span class="form_error" th:if="${#fields.hasErrors('postalCode')}" th:errors="*{postalCode}"></span>
            </div>

            <!-- 都道府県 -->
            <div class="sig_form_txt">
              <label>都道府県<span class="form_required">必須</span></label>
              <input type="text" th:field="*{prefecture}" id="tdhnm" list="" autocomplete="off"><span class="form_error" th:if="${#fields.hasErrors('prefecture')}" th:errors="*{prefecture}"></span>
              <datalist id="tdhnmlist"></datalist>
            </div>

            <!-- 住所１ -->
            <div class="sig_form_txt">
              <label>市区町村<span class="form_required">必須</span></label>
              <input type="text" th:field="*{city}" id="adr1" list="" autocomplete="off"><span class="form_error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
              <datalist id="adr1list"></datalist>
            </div>
            
            <!-- 住所２ -->
            <div class="sig_form_txt">
              <label>番地<span class="form_required">必須</span></label>
              <input type="text" th:field="*{addressLine1}" id="adr2" list="" autocomplete="off"><span class="form_error" th:if="${#fields.hasErrors('addressLine1')}" th:errors="*{addressLine1}"></span>
              <datalist id="adr2list"></datalist>
            </div>

            <!-- 住所３ -->
            <div class="sig_form_txt">
              <label>建物名、部屋番号</label>
              <input type="text" th:field="*{addressLine2}" id="" list="" autocomplete="off"><span class="form_error" th:if="${#fields.hasErrors('addressLine2')}" th:errors="*{addressLine2}"></span>
              <datalist id=""></datalist>
            </div>

            <!-- DM通知設定 -->
            <div class="sig_form_txt sig_form_dm">
              <label>DMの受信設定<span class="form_required">必須</span></label>
              受信する：<input type="radio" th:field="*{dmOptIn}" value="1" id="">
              受信しない：<input type="radio" th:field="*{dmOptIn}"  value="0" id="">
            </div>

            <div class="sig_form_btn">
              <button type="submit">確認画面へ<i class="fas fa-angle-double-right fa-position-left"></i></button>
            </div>
          </form>


        </div>

      </main><!-- メイン END -->
    </div><!-- inner END -->

<div th:replace="~{comlayout/base :: footer}"></div>



  </div><!-- wrapper END -->
</body>
<!--jquery-->
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
 <!--original-->
  <script th:src="@{/js/ybbg.js}"></script>
</html>