<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no"><!-- モバイルデバイスで閲覧する際、電話番号を自動的に検出しないようにする -->
  <meta name="description" content="【寿司処リカレント】お寿司の出前・デリバリー・配達の注文なら、宅配寿司の「寿司処リカレント」で。お家からネットで簡単に注文できます。">
  <!-- favicon -->
  <link rel="icon" href="/static/images/favicon.ico">
  <!-- Reset CSS -->
  <link rel="stylesheet" href="/static/css/html5reset-1.6.1.css">
  <!-- Original CSS -->
  <link rel="stylesheet" href="/static/css/mypage.css">
  <title>会員情報を編集 | マイページ | 宅配寿司 寿司処リカレント | お寿司の出前・デリバリー・配達注文</title>
</head>

<body>
  <div class="wrapper">
    <div class="inner" id="unique_mypage_area">

      <!-- ヘッダー -->
      <header>
        <h1><a href="index.html"><img class="hd_logo" src="/static/images/hd_logo.png" alt="宅配寿司 寿司処リカレント"></a></h1>
        <div class="hd_copy">
          <p class="hd_copy01">今日はおうちで、ちょっと贅沢。</p>
          <p>家族みんなで楽しめる宅配寿司。</p>
        </div>
      </header><!-- ヘッダー END -->

      <!-- ナビゲーション -->
      <nav>
        <ul>
          <li><a href="cart/cart.html" class="nav_cart">カート</a></li>
          <li><a href="product/product.html" class="nav_product">商品一覧</a></li>
          <li><a href="signup/checkSi.html" class="nav_login">会員登録/ログイン</a></li>
          <li><a href="voice/voice-vi.html" class="nav_voice">お客様のご意見/ご感想</a></li>
        </ul>
      </nav><!-- ナビゲーション END -->

      <!-- メイン -->
      <main>
        <h2 class="mn_h201">マイページ　会員情報を編集する</h2>
        <ol class="mn_pankuzu">
          <li><a href="/">TOPページ</a></li>
          <li><a href="/">マイページ</a></li>
          <li>会員情報を編集</li>
        </ol>

        <div class="myp_formarea">
          <form action="" method="post" object="">
            <!-- お名前 -->
            <h3><label>お名前<span class="form_required">必須</span></label></h3>
            <div class="myp_form_txt">
              <input type="text" field=""><span class="form_error" if="" errors=""></span>
            </div>

            <!-- メールアドレス -->
            <h3><label>メールアドレス<span class="form_required">必須</span></label></h3>
            <div class="myp_form_txt">
              <input type="text" field=""><span class="form_error" if="" errors=""></span>
            </div>

            <!-- パスワード -->
            <h3><label>パスワード<span class="form_required">必須</span></label></h3>
            <p class="form_attention">半角英数4文字以上で入力してください。</p>
            <div class="myp_form_txt">
              <input type="password" name="" id=""><span class="form_error" if="" errors=""></span>
            </div>

            <!-- 電話番号 -->
            <h3><label>電話番号</label></h3>
            <div class="myp_form_txt">
              <input type="tel" name="" id="pass"><span class="form_error" if="" errors=""></span>
            </div>

            <!-- 郵便番号 -->
            <h3><label>郵便番号<span class="form_required">必須</span></label></h3>
            <div class="myp_form_txt">
              <input type="tel" name="" id="pass"><span class="form_error" if="" errors=""></span>
            </div>

            <!-- 都道府県 -->
            <h3><label>都道府県<span class="form_required">必須</span></label></h3>
            <div class="myp_form_txt">
              <input type="text" name="" id="" list="" autocomplete="off"><span class="form_error" if=""
                errors=""></span>
              <datalist id=""></datalist>
            </div>

            <!-- 住所１ -->
            <h3><label>住所：市区町村、番地<span class="form_required">必須</span></label></h3>
            <div class="myp_form_txt">
              <input type="text" name="" id="" list="" autocomplete="off"><span class="form_error" if=""
                errors=""></span>
              <datalist id=""></datalist>
            </div>

            <!-- 住所２ -->
            <h3><label>住所：建物名、部屋番号</label></h3>
            <div class="myp_form_txt">
              <input type="text" name="" id="" list="" autocomplete="off"><span class="form_error" if=""
                errors=""></span>
              <datalist id=""></datalist>
            </div>

            <!-- DM通知設定 -->
            <h3>DMの受信設定<span class="form_required">必須</span></h3>
            <p class="form_attention">ご登録のメールアドレス宛てにキャンペーンなどお得な情報をお知らせします。</p>
            <div class="myp_form_txt">
              <label for="">受信する：</label><input type="radio" name="" value="" id="" checked>
              <label for="">受信しない：</label><input type="radio" name="" value="" id="">
            </div>

            <div class="myp_form_btn">
              <button type="submit">編集確認画面へ</button>
            </div>
          </form>

        </div>

      </main><!-- メイン END -->
    </div><!-- inner END -->

    <!-- フッター -->
    <footer>
      <div class="ft_sitemap">
        <ul class="smul01">
          <li><a href="">初めての方へ</a></li>
          <li><a href="cart/cart.html">カート</a></li>
          <li><a href="product/product.html">商品一覧</a></li>
          <li><a href="signup/checkSi.html">会員登録/ログイン</a></li>
          <li><a href="voice/voice-vi.html">お客様のご意見/ご感想</a></li>
        </ul>
        <ul>
          <li><a href="">サイトマップ</a></li>
          <li><a href="">お問い合わせ</a></li>
          <li><a href="">ご利用規約</a></li>
          <li><a href="">特定商取引表示</a></li>
        </ul>
      </div>
      <div class="ft_copy">
        <small>&copy;SUSHIDOKORO RECURRENT CO.,LTD.ALL RIGHTS RESERVED.</small>
      </div>
    </footer>
    <!-- フッター END -->



  </div><!-- wrapper END -->
</body>

</html>