<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>購入ページ</title>
</head>
<body>
    <h1>カート内商品</h1>
	<table>
	    <tr>
	        <th>商品名</th>
	        <th>単価</th>
	        <th>数量</th>
	        <th>小計</th>
	    </tr>
	    <tr th:each="item : ${cartItems}">
	        <td th:text="${item.product.name}">商品名</td>
	        <td th:text="${#numbers.formatInteger(item.unitPrice)}">単価</td>
	        <td th:text="${item.quantity}">数量</td>
	        <td th:text="${#numbers.formatInteger(item.unitPrice * item.quantity)}">小計</td>
	    </tr>
	    <tr>
	        <td colspan="3">合計</td>
	        <td th:text="${#numbers.formatInteger(totalPrice)}">合計金額</td>
	    </tr>
	</table>


    <h2>合計金額: <span th:text="${#numbers.formatInteger(totalPrice)}">0</span> 円</h2>
</body>
</html>
