<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
  <div th:replace="~{comlayout/base :: meta}"></div>
  <div th:replace="~{comlayout/base :: styles}"></div>
  <!-- Original CSS -->
  <link rel="stylesheet" th:href="@{/css/purchase.css}">
  <title>お届け先を設定 | 宅配寿司 寿司処リカレント | お寿司の出前・デリバリー・配達注文</title>
</head>

<body>
  <div class="wrapper">
    <div class="inner" id="unique_cart_area">

      <div th:replace="~{comlayout/base :: header}"></div>
      <div th:replace="~{comlayout/base :: nav}"></div>


      <!-- メイン -->
      <main>
        <h2 class="mn_h201">カート 最終確認</h2>
        <ol class="mn_pankuzu">
          <li><a th:href="@{/}">TOPページ</a></li>
          <li><a th:href="@{/cart}">カート</a></li>
          <li>お届け先を設定</li>
        </ol>

        <div class="cart_wrap">

          <!-- フロー図 -->
          <div class="progressbar">
            <div class="item">STEP.1<br>購入商品の確認</div>
            <div class="item active">STEP.2<br>お届け先を設定</div>
            <div class="item">STEP.3<br>最終確認</div>
            <div class="item">STEP.4<br>購入完了</div>
          </div>

          <div class="purchase_in_area01">
            <h3>お届け先住所</h3>
            <p>お届け先の住所を下記からお選びください。</p>
            <form action="" method="post" object="">
              <table>
                <tr>
                  <th>会員情報<br>ご登録住所</th>
                  <td>
                    <p>〒810-0072</p>
                    <p>福岡県福岡市中央区長浜一丁目4番13号 SF福岡ビル6階</p>
                  </td>
                  <td><input type="radio" name="address_select" value="" id="addr1" checked><label
                      for="addr1">選択</label>
                  </td>
                </tr>
                <tr>
                  <th>前回利用した<br>ご住所</th>
                  <td>
                    <p>〒810-0072</p>
                    <p>熊本県熊本市中央区長浜一丁目4番13号 SF福岡ビル6階</p>
                  </td>
                  <td><input type="radio" name="address_select" value="" id="addr2"><label for="addr2">選択</label></td>
                </tr>
                <tr>
                  <th>新しく入力する<br>ご住所</th>
                  <td>
                    <p><label>郵便番号：</label><input type="text" name="" id="" list="" autocomplete="off"></p>
                    <p><label>都道府県：</label><input type="text" name="" id="" list="" autocomplete="off"></p>
                    <p><label>市区町村：</label><input type="text" name="" id="" list="" autocomplete="off"></p>
                    <p><label>番地：</label><input type="text" name="" id="" list="" autocomplete="off"></p>
                  </td>
                  <td><input type="radio" name="address_select" value="" id="addr3"><label for="addr3">選択</label></td>
                </tr>
              </table>
            </form>
          </div>

          <div class="purchase_in_area01">
            <h3>ご希望のお届け日時</h3>
            <p>ご希望のお届け日時をご指定ください。</p>
            <form action="" method="post" th:object="">
              <select name="prefecture">
                <option value="">選択</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="31">31</option>
              </select>
              日の
              <select name="prefecture">
                <option value="">選択</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="24">24</option>
              </select>
              時にお届けいたします。
            </form>
          </div>
        </div>

        <div class="cart_btnarea">
          <div class="btn_product">
            <a th:href="@{/}"><i class="fas fa-angle-double-left fa-position-right"></i>カートに戻る</a>
          </div>
          <div class="btn_purchase">
            <a th:href="@{/}">最終確認へ<i class="fas fa-angle-double-right fa-position-left"></i></a>
          </div>
        </div>



      </main><!-- メイン END -->
    </div><!-- inner END -->

    <div th:replace="~{comlayout/base :: footer}"></div>



  </div>
  <!-- wrapper END -->
</body>

</html>